@import './base.css';

.visible-switch,
.group-switch,
.unjam-button,
.lock-switch {
    padding: 3px;
}

.ant-collapse-header {
    align-items: center !important;
    justify-content: flex-start;
}

.ant-list-item {
    justify-content: flex-start;
}

/* Right align last item in the flex container with `flex-start` */
.close-icon,
.coords-group,
.scale-ratio-input {
    margin-left: auto;
}

.ant-col {
    padding: 10px;
}

.image-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 8px;
}

.uploaded-file-item>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ant-space {
    margin-bottom: 5px;
}

li.keypoint-selected {
    background-color: #ffdddd;
    /* A light red for the background */
    color: #b20000;
    /* A darker red for the text */
}

.dark-theme li.keypoint-selected {
    color: #ffdddd;
    /* A light red for the text */
    background-color: #5e0303;
    /* A darker red for the background */
}

/* Make control-panel scrollable instead of whole page scrollable when
control-panel's content overflows. */
#control-panel {
    height: 100vh;
    overflow-y: auto;
}

/* Hide scroll bar for control-panel. */
#control-panel::-webkit-scrollbar {
    display: none;
}

.ant-space {
    flex-wrap: wrap;
}

.ant-input-number {
    max-width: 100px;
}