@import './base.css';

.visible-switch {
    padding: 3px;
}

.ant-collapse-header {
    align-items: center !important;
    justify-content: flex-start;
}

.ant-list-item {
    justify-content: flex-start;
}

/* Right align last item in the flex container with `flex-start` */
.close-icon, .coords-group {
    margin-left: auto;
}

.ant-col {
    padding: 10px;
}